*{
    margin: 0;
    padding: 0;
}

#parent{
    display: flex; 
    height: 100vh;
    justify-content: center;
    background-color: rgb(219, 221, 221);
    align-items: center;

}

#left{
    background-color: rgb(219, 221, 221);
    height: 300px;
    width: 400px;
}

#right{
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 400px;
    margin-left: 15px;
}
